* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* body {
  text-align: center;
} */

.star {
  text-align: center;
}
.star .riga {
  display: inline-block;
  width: 50px;
  height: 4px;
  line-height: 4px;
  vertical-align: middle;

}

.star i{
  display: inline-block;
}



header {
  color: white;
}

header .navbar-default {
  background-image:none;
  background-color: #053c63;

}

header .navbar-default {
  border:none;
  color: white;

}

.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.background_nav {
  background-color: #053c63;
  color: white;
  min-height: 50px;

}


.background_jumbo {
  background-color: #28a6a6;
  text-align: center;

}
.omino {
  height: 200px;
  margin-top: 50px;
}

#sottotitolo {
  margin-bottom: 50px;
}

.background_portfolio {
  background-color: white;
}

.imgportfolio {
  /* height: 200px; */
  margin: 15px;
  border-radius: 5px;
  width: 100%;

}

.about {
  background-color: #28a6a6;
  color: white;
}

.about div p {
  padding: 20px;
}
#download {
  text-align: center;
}
h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.rientro10 {
  padding:0 20%;
}
.rientro15 {
  padding:0 25%;
}

form .form-group .formcontrol {
  text-align: left;
}

.my_formcontrol {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid black;

}

.btn-default {
  background-color:#28a6a6;
  background-image: none;
  text-shadow: none;
  color: white;
  border-color: white;
  margin-bottom: 50px;
}

.background_footer {
  background-color: #2d5980;
  min-height: 100px;
  padding-top: 50px;
}

.location {
  min-height: 100px;
  color: white;
  text-align: center;

}

.icon {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  display: inline-block;
}

.around {
  color: white;
  text-align: center;
}

.around a i {
  color: white;
}

.aboutfree {
  color: white;
  text-align: center;

}

.copyright {
  background-color: #053c63;
  color: white;
  text-align: center;
  padding:20px 0;
}
